<h1>List of forums the user has access to</h1>
<table cellspacing="0" class="table table-striped">
<thead>
  <tr>
    <th class="header" scope="col">Forumname</th>
    <th class="header" scope="col">Forumtype</th>
    <th class="header" scope="col">Course</th>
    <th class="header" scope="col">Category</th>
  </tr>
</thead>
<tbody id="forumslist">
{{#forums}}
  {{> block_forumslist/forum_list_item}}
{{/forums}}
</tbody>
</table>