{{!
This file is part of the Fraisa Moodle

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

* Forums list: dicussion item: one discussion

* @package block_fraisa_forumaggregator
* @copyright 2016 onwards Fraisa <http://www.fraisa.com/>
* @author Liip <https://www.liip.ch/>
* @author Ruslan Kabalin <ruslan.kabalin@gmail.com>
* @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}

<tr>
  <td>{{name}}</td>
  <td>{{type}}</td>
  <td><a href="{{courseurl}}">{{course}}</a></td>
  <td>{{category}}</td>
</tr>