{{!
This file is part of the Fraisa Moodle

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

* Dashboard block: main template

* @package block_fraisa_forumaggregator
* @copyright 2016 onwards Fraisa <http://www.fraisa.com/>
* @author Liip <https://www.liip.ch/>
* @author Ruslan Kabalin <ruslan.kabalin@gmail.com>
* @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}

<table cellspacing="0" class="forumslist">
<thead>
  <tr>
    <th class="header" scope="col">name</th>
    <th class="header" scope="col">type</th>
    <th class="header" scope="col">course</th>
    <th class="header" scope="col">category</th>
  </tr>
</thead>
<tbody id="forumslist">
{{#forums}}
  {{> block_forumslist/forum_list_item}}
{{/forums}}
</tbody>
</table>